In [1]:
import pandas as pd

In [2]:
# Load the dataset
data = pd.read_excel("Online retail.xlsx",header = None)

In [3]:
# Display the first few rows of the dataframe
data.head()

                                                   0
0  shrimp,almonds,avocado,vegetables mix,green gr...
1                             burgers,meatballs,eggs
2                                            chutney
3                                     turkey,avocado
4  mineral water,milk,energy bar,whole wheat rice...

In [4]:
# Create a list of transactions
transactions = data[0].apply(lambda x: x.split(','))

# Create a list of all unique items
items = sorted(set(item for sublist in transactions for item in sublist))

# Create a one-hot encoded dataframe
encoded_data = pd.DataFrame([[int(item in transaction) for item in items] for transaction in transactions], columns=items)

print(encoded_data.head())

    asparagus  almonds  antioxydant juice  asparagus  avocado  babies food  \
0           0        1                  1          0        1            0
1           0        0                  0          0        0            0
2           0        0                  0          0        0            0
3           0        0                  0          0        1            0
4           0        0                  0          0        0            0

   bacon  barbecue sauce  black tea  blueberries  ...  turkey  vegetables mix  \
0      0               0          0            0  ...       0               1
1      0               0          0            0  ...       0               0
2      0               0          0            0  ...       0               0
3      0               0          0            0  ...       1               0
4      0               0          0            0  ...       0               0

   water spray  white wine  whole weat flour  whole wheat pasta  \
0            0           0                 1                  0
1            0           0                 0                  0
2            0           0                 0                  0
3            0           0                 0                  0
4            0           0                 0                  0

   whole wheat rice  yams  yogurt cake  zucchini
0                 0     1            0         0
1                 0     0            0         0
2                 0     0            0         0
3                 0     0            0         0
4                 1     0            0         0

[5 rows x 120 columns]

In [5]:
from mlxtend.frequent_patterns import apriori, association_rules

# Apply the Apriori algorithm
frequent_itemsets = apriori(encoded_data, min_support=0.01, use_colnames=True)

# Generate the association rules
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)

# Display the generated rules
print(rules.head())

C:\Users\nikhi\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

       antecedents      consequents  antecedent support  consequent support  \
0  (mineral water)        (avocado)            0.238368            0.033329
1        (avocado)  (mineral water)            0.033329            0.238368
2           (cake)        (burgers)            0.081056            0.087188
3        (burgers)           (cake)            0.087188            0.081056
4        (burgers)      (chocolate)            0.087188            0.163845

    support  confidence      lift  leverage  conviction  zhangs_metric
0  0.011598    0.048658  1.459926  0.003654    1.016113       0.413630
1  0.011598    0.348000  1.459926  0.003654    1.168147       0.325896
2  0.011465    0.141447  1.622319  0.004398    1.063198       0.417434
3  0.011465    0.131498  1.622319  0.004398    1.058080       0.420238
4  0.017064    0.195719  1.194537  0.002779    1.039630       0.178411

In [6]:
# Sort rules by lift and display the top 10
sorted_rules = rules.sort_values('lift', ascending=False).head(10)
print(sorted_rules)

                    antecedents                 consequents  \
214             (herb & pepper)               (ground beef)
215               (ground beef)             (herb & pepper)
384  (mineral water, spaghetti)               (ground beef)
385               (ground beef)  (mineral water, spaghetti)
399                 (olive oil)  (mineral water, spaghetti)
394  (mineral water, spaghetti)                 (olive oil)
192                  (tomatoes)         (frozen vegetables)
193         (frozen vegetables)                  (tomatoes)
188                    (shrimp)         (frozen vegetables)
189         (frozen vegetables)                    (shrimp)

     antecedent support  consequent support   support  confidence      lift  \
214            0.049460            0.098254  0.015998    0.323450  3.291994
215            0.098254            0.049460  0.015998    0.162822  3.291994
384            0.059725            0.098254  0.017064    0.285714  2.907928
385            0.098254            0.059725  0.017064    0.173677  2.907928
399            0.065858            0.059725  0.010265    0.155870  2.609786
394            0.059725            0.065858  0.010265    0.171875  2.609786
192            0.068391            0.095321  0.016131    0.235867  2.474464
193            0.095321            0.068391  0.016131    0.169231  2.474464
188            0.071457            0.095321  0.016664    0.233209  2.446574
189            0.095321            0.071457  0.016664    0.174825  2.446574

     leverage  conviction  zhangs_metric
214  0.011138    1.332860       0.732460
215  0.011138    1.135410       0.772094
384  0.011196    1.262445       0.697788
385  0.011196    1.137902       0.727602
399  0.006332    1.113898       0.660314
394  0.006332    1.128021       0.656007
192  0.009612    1.183930       0.639616
193  0.009612    1.121381       0.658656
188  0.009853    1.179825       0.636767
189  0.009853    1.125268       0.653563